---
import NextJS from "./icons/IconNextJS.astro"
import Tailwind from "./icons/IconTailwind.astro"
import H3 from '../components/styles/H3.astro';

const TAGS = {
    NEXT: {
        name: "Next.js",
        class: "bg-black text-white",
        icon: NextJS,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: Tailwind,
    },
}
const PROJECTS = [
    {
        title: "SVGL - A beautiful library with SVG logos",
        description:"Created from scratch with Next.js and Tailwind CSS. It's a library with SVG logos from the most popular brands. Optimized for SEO and performance.",
        link: "https://svgl.vercel.app/",
        github: "https://github.com/pheralb/svgl",
        image: "/projects/svgl.webp",
        tags: [TAGS.NEXT, TAGS.TAILWIND],
    },
    {
        title: "SVGL - A beautiful library with SVG logos",
        description:"Created from scratch with Next.js and Tailwind CSS. It's a library with SVG logos from the most popular brands. Optimized for SEO and performance.",
        link: "https://svgl.vercel.app/",
        github: "https://github.com/pheralb/svgl",
        image: "/projects/svgl.webp",
        tags: [TAGS.NEXT, TAGS.TAILWIND],
    },
]

const
---

{
    PROJECTS.map(({ image, title, description, tags }) => (
        <article class="mt-10">
            <H3>
                {title}
            </H3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row mb-4">
                {tags.map((tag) => (
                    <li>
                        <span
                            class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
                        >
                            <tag.icon class="size-4" />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img
                loading="lazy"
                class="rounded-xl shadow-2xl shadow-white/10 aspect-video hover:scale-105 transition hover:shadow-yellow-200/30 hover:shadow-xl"
                src={image}
                alt={`Captura de pantalla del proyecto ${image}`}
            />
            <pre>
                <code>
                    <img
                        loading="lazy"
                        class="rounded-xl shadow-2xl shadow-white/10 aspect-video hover:scale-105 transition hover:shadow-yellow-200/30 hover:shadow-xl"
                        src={image}
                        alt={`Captura de pantalla del proyecto ${image}`}
                    />
                </code>
            </pre>
        </article>
    ))
}